/*
全局样式表
*/
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
.el-breadcrumb{
  margin-bottom: 25px;
}
.el-card{
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}
.el-scrollbar{
  height: 100%;
  background-color: #333744;
}
.el-scrollbar__wrap {
  overflow-x: hidden !important;
}
.el-scrollbar__view {
  white-space: nowrap;
}